<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/jobs1.css' %}">
    <title></title>
</head>
<body>
    <body>
        <h1>Hyderabd Jobs Information</h1>
        {% if jobs_list %}
        <table border="3">
          <thead>
            <th>Date</th>
            <th>Company</th>
            <th>Title</th>
            <th>Eligibility</th>
            <th>Address</th>
            <th>Email</th>
            <th>PhoneNumber</th>
          </thead>
          {% for job in job_list %}
          <tr>
            <td>{{job.date}}</td>
            <td>{{job.company}}</td>
            <td>{{job.title}}</td>
            <td>{{job.eligibility}}</td>
            <td>{{job.address}}</td>
            <td>{{job.email}}</td>
            <td>{{job.phonenumber}}</td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
        <p>No Jobs In Hyderabad........</p>
        {% endif %}
      </body>
    
</body>
</html>