<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <body>
        <div class="container">
          <div class="jumbotron">
            <h1>Welcome To My Jobs</h1>
            <p>Continuous Job Updates For Every Hour......</p>
            <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/hydjobsinfo/">Hyderabd Jobs</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn btn-primary btn-lg" href="#">Bangalore Jobs</a>&nbsp&nbsp&nbsp&nbsp
            <a class="btn btn-primary btn-lg" href="#">Pune Jobs</a>
          </div>
        </div>
      </body>
    
</body>
</html>