<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/fb.css' %}">
    <title>Document</title>
</head>

<body>
    {% for record in records %}
    <h1>{{record.name}} Information</h1>
    <ul>
        <li>Name:{{record.name | upper}}</li>
        <li>Subject:{{record.subject | lower}}</li>
        <li>Dept:{{record.dept | title}}</li>
        <!-- <li>Date:{{record.date }}</li> -->
        <li>Date:{{record.date | date:'d-m-Y'}}</li>
        <li>Date:{{record.date | date:'m/d/Y'}}</li>
        <li>Date:{{record.date | date:'m-d-Y'}}</li>
        <li>Date:{{record.date | timesince}}</li>
        <li>Date:{{record.date | date:'d-b-Y'}}</li>
    </ul>
    <hr>
    {% endfor %}
</body>

</html>