<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{
            background: pink;
        }
        span{
            border: 1px solid purple;
            color: blueviolet;
        }
    </style>
</head>
<body>
    <h1>Hello Friend, <span>{{wish}}</span></h1>
    <h2>Now the server time is:<span>{{time}}</span></h2>
    <h1>Astrology Info is: <span>{{msg}}</span></h1>
    <h2>Very soon, you are going to get marriage with: <span>{{name}}</span></h2>
</body>
</html>