<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/std.css'%}">
    <title></title>
</head>
<body>
    <div class="container">
        <h1>Student Registration Form</h1>
        <form method="post" align='center'>
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" class='btn btn-success' name="" value="Register">
        </form>
    </div>
</body>

</html>