<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if  movie_list %}
    <h1>Movies List</h1>
    <table border="2">
        <thead>
            <th>Release Date</th>
            <th>Movie Name</th>
            <th>Hero</th>
            <th>Heroine</th>
            <th>Rating</th>
        </thead>
        {% for movie in movie_list %}
        <tr>
            <td>{{movie.rdate}}</td>
            <td>{{movie.Moviename}}</td>
            <td>{{movie.hero}}</td>
            <td>{{movie.heroine}}</td>
            <td>{{movie.rating}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No Movies Found.......</p>
    {% endif %}

</body>

</html>