<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <body>
        <h1>Welcome To Sohail NEWS Portal</h1>
        <img src="{% static 'images/news.png' %}" alt="">
        <ul>
          <li><a href="https://en.wikipedia.org/wiki/Animal_(2023_Indian_film)">ANIMAL Movies Information</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Sport_in_India">iNDIAN Sports Information</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Bharatiya_Janata_Party">BJP Politics Information</a></li>
        </ul>
    </body>
    
</body>
</html>